<div id="toTop"></div>
<div id="header" class="header">
  <div class="header__navbar">
    <div class="navbar-left">
      <a href="/" class="text__left"><span class="navbar-change ">Vigga</span></a>
      <a href="/"><img src="/img/LOGOVGA.png" alt="" /></a>
      <a href="/" class="text__right"><span class="navbar-change ">University</span></a>
    </div>
    {{#ifeq user 'admin'}}
    <div class="navbar-center">
      <ul class="nav-list">
        <ul class="drop-down__Home">
          <a href="/"><span class="navbar-change">Home</span></a>
        </ul>
        <ul class="drop-down__Managements">
          <span class="navbar-change">Managements</span>
          <ul class="Managements-show">
            <li><a href="/managements/category">Category</a></li>
            <li><a href="/managements/submission">Submission</a></li>
            <li><a href="/managements/department">Department</a></li>
          </ul>
        </ul>
        <ul class="drop-down__Statistics">
          <a href="/statistics"><span class="navbar-change">Statistics</span></a>
        </ul>
        <ul class="drop-down__Submission">
          <a href="/staffsubmission"><span class="navbar-change">Staff Submission</span></a>
        </ul>
        <ul class="drop-down__Users">
          <a href="/user"><span class="navbar-change">Users Managements</span></a>
        </ul>
      </ul>
    </div>
    {{else ifeq user 'manager'}}
    <div class="navbar-center">
      <ul class="nav-list">
        <ul class="drop-down__Home">
          <a href="/"><span class="navbar-change">Home</span></a>
        </ul>
        <ul class="drop-down__Managements">
          <span class="navbar-change">Managements</span>
          <ul class="Managements-show">
            <li><a href="/managements/category">Category</a></li>
            <li><a href="/managements/submission">Submission</a></li>
            <li><a href="/managements/department">Department</a></li>
          </ul>
        </ul>
        <ul class="drop-down__Statistics">
          <a href="/statistics"><span>Statistics</span></a>
        </ul>
        <ul class="drop-down__Submission">
          <a href="/staffsubmission"><span class="navbar-change">Staff Submission</span></a>
        </ul>
      </ul>
    </div>
    {{else}}
    <div class="navbar-center">
      <ul class="nav-list">
        <ul class="drop-down__Home">
          <a href="/"><span class="navbar-change">Home</span></a>
        </ul>
        <ul class="drop-down__Submission">
          <a href="/staffsubmission"><span class="navbar-change">Staff Submission</span></a>
        </ul>
      </ul>
    </div>
    {{/ifeq}}
    <div class="nav-right">
      <div class="login">
        {{#if user}}
        <ul class="show-logout navbar-change">
          {{!-- <span class=""> --}}
            <i class="bi bi-person-circle"></i>
          {{!-- </span> --}}
        </ul>
        <ul class="show-user-info">
          <li>Name: {{getFullname user}}</li>
          <li>Email: {{getEmail user}}</li>
          <li>Role: {{getRole user}}</li>
          <li>Department: {{getDepartment user}}</li>
          <li><a class="out-user" onclick="logout()">Log Out <i class="bi bi-box-arrow-right"></i></a></li>
        </ul>
        {{else}}
        <ul class="sign-in"><a href="/login"><span class="navbar-change">Login</span></a></ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{!-- header responsive --}}
<div class="header-mini">
  <nav id="navbar-mini" class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="navbar-left">
        <a href="/"><span class="text__left">Vigga</span></a>
        <a href="/"><img src="/img/LOGOVGA.png" alt="" /></a>
        <a href="/"><span class="text__right">University</span></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <i id="navbar-icon" class="bi bi-justify"></i>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="list-user-info">
             {{#if user}}
                <ul class="user-info__mini">
                  <li>Name: {{getFullname user}}</li>
                  <li>Email: {{getEmail user}}</li>
                  <li>Role: {{getRole user}}</li>
                  <li>Department: {{getDepartment user}}</li>
                  {{!-- <li><a class="out-user" onclick="logout()">Log Out <i class="bi bi-box-arrow-right"></i></a></li> --}}
                </ul>
                {{else}}
                <a href="/login"><span class="navbar-change">Login</span></a>
                {{/if}}
          </div>
          <div class="navbar-center">
            <ul class="nav-list">
              <ul class="header-mini__login">
                {{#ifeq user 'admin'}}
                <ul class="drop-down__Home">
                  <a href="/"><span>Home</span></a>
                </ul>
                <ul class="drop-down__Managements">
                  <span class="">Managements</span>
                  <ul class="Managements-show">
                    <li><a href="/managements/category">Category</a></li>
                    <li><a href="/managements/submission">Submission</a></li>
                    <li><a href="/managements/department">Department</a></li>
                  </ul>
                </ul>
                <ul class="drop-down__Statistics">
                  <a href="/statistics"><span>Statistics</span></a>
                </ul>
                <ul class="drop-down__Submission">
                  <a href="/staffsubmission"><span>Staff Submission</span></a>
                </ul>
                <ul class="drop-down__Users">
                  <a href="/user"><span>Users Managements</span></a>
                </ul>
                {{else ifeq user 'manager'}}
                <ul class="drop-down__Home">
                  <a href="/"><span>Home</span></a>
                </ul>
                <ul class="drop-down__Managements">
                  <span class="">Managements</span>
                  <ul class="Managements-show">
                    <li><a href="/managements/category">Category</a></li>
                    <li><a href="/managements/submission">Submission</a></li>
                    <li><a href="/managements/department">Department</a></li>
                  </ul>
                </ul>
                <ul class="drop-down__Statistics">
                  <a href="/statistics"><span>Statistics</span></a>
                </ul>
                <ul class="drop-down__Submission">
                  <a href="/staffsubmission"><span>Staff Submission</span></a>
                </ul>
                {{else}}
                <ul class="drop-down__Home">
                  <a href="/"><span>Home</span></a>
                </ul>
                <ul class="drop-down__Submission">
                  <a href="/staffsubmission"><span>Staff Submission</span></a>
                </ul>
                {{/ifeq}}
                {{#if user}}
                <ul class="out-user__mini">
                  <a onclick="logout()">Log Out <i class="bi bi-box-arrow-right"></i></a>
                </ul>
                {{else}}
                {{/if}}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
  function logout() {
    document.cookie = 'token =; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = "/login"
  }
  //document.querySelector('.logout-mini').onclick = function () {
    //document.cookie = 'token =; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    //window.location.href = "/login"
  //}
  var dropDownUser = document.querySelector('.login');
  var showUser = document.querySelector('.show-user-info');
  var btnLogout = document.querySelector('.logout');
  dropDownUser.onmouseover = function () {
    showUser.style.display = 'block';
    btnLogout.style.display = 'block';
  }
  dropDownUser.onmouseout = function () {
    showUser.style.display = 'none';
    btnLogout.style.display = 'none';
  }
</script>