<div class="main-detail">
    <h1 class="detail-text">Details</h1>    
    <div class="detail-show">
        <div>Title: <td>{{idea.title}}</td> </div>
        <div>Brief: <td>{{idea.brief}}</td> </div>
        <div>Content:  <td>{{idea.content}}</td></div> 
        <div>file:  <td><a href="/{{idea.file}}">{{idea.file}}</a></td></div> 
        <div>View:  <td>{{idea.view}}</td></div> 
        <div>Submission: <td>{{idea.submission}}</td></div> 
        <div>Category: <td>{{idea.category}}</td></div> 
        <div>Deadline 1: {{moment idea.deadline_1 format ="DD MMM YYYY HH:mm:ss"}}</div>
        <div class="time-deadline2">Deadline 2: {{moment idea.deadline_2 format ="DD MMM YYYY HH:mm:ss"}} </div>
    </div>
    <div class="detail-application">
        <form class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment" >
            <div class="comment_btn">
            <label for="content">Comment</label>
            <br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
            <br><br>
            <button class="sub_btn" type="submit">Comment</button>
        </form>
        <ul>            
        {{#each idea.comment}}
            <li>{{this.username}}: {{this.contentCM}}</li>
        {{/each}}
        </ul>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    var checkDeadline1 = document.querySelectorAll('.time-deadline2');
var noneCmt = document.querySelectorAll('.detail_btn');
var currentDate = moment();
for (let i = 0; i < checkDeadline1.length; i++) {
  var deadline1 = moment(checkDeadline1[i].textContent, "DD MMM YYYY HH:mm:ss");
  if (deadline1.isBefore(currentDate)) {
    for(let j = 0; j < noneCmt.length; j++)
    noneCmt[j].classList.add('none');
  }
}

</script>

