<div class="main-detail">   
    <div class="detail-show">
      <div class="detail-show-all">
        <div class="detail-show-primary">
          <div class="fullname-detail">{{idea.fullname}}</div>
          <div class="left-detail-primary">
            <div id="days-remaining" data-deadlinef="{{moment submission.deadline_1 format ='YYYY-MM-DD HH:mm:ss'}}" data-deadlines="{{moment submission.deadline_2 format ='YYYY-MM-DD HH:mm:ss'}}"></div>
            <div class="view-detail">{{idea.view}} <i class="bi bi-eye"></i></div> 
          </div>
        </div>
          <div class="secondary-detail">
            <div class="role-detail-info">
              <div class="role-detail">{{idea.department}}</div>
            </div>
            <div class="center-secondary-detail">-</div>
            <div class="time-post-detail">{{moment idea.createdAt format ="DD MMMM YYYY (HH:mm)" }}</div>
          </div>
          <div class="submission-detail-info">
            <div class="submission-detail">Submission: {{idea.submission}}</div> 
          </div>
          <div class="category-detail-info">
            <div class="category-detail">Category: {{idea.category}}</div> 
          </div>
          <div class="body-detail">
            <div class="title-detail">{{idea.title}}</div>
            <div class="content-detail">{{idea.content}}</div> 
            {{#if idea.file}}
            <div class="container__file-detail">
              <span>File:</span> <a class="file-detail" href="/{{idea.submission}}/{{idea.file}}">{{idea.file}}</a>
            </div> 
            {{else}}
            {{/if}}
            <div class="time-deadline1" >Deadline 1: </div>
            <div class="time-deadline2">Deadline 2:  </div>
         </div>
        </div>
         <div class="detail-application">
        <form id="form" class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment" autocomplete="off">
  <div class="comment_btn">
    <label class="label-cmt" for="content">Comment</label>
    <br>
    <div class="comment-textarea">
      <textarea id="content" name="content" placeholder="{{getFullname user}}, can you give me good ideas?" required></textarea>
      <button class="sub_btn" type="submit"><i alt="Comment" class="bi bi-send"></i></button>
    </div>
  </div>
  <div class="check-annoymous">
    <input type="checkbox" name="annoymous" value="true" id="annoymous">
    <label for="annoymous">Comment With Anonymous</label>
  </div>
</form>
        <ul>            
        {{#each idea.comment}}
        {{#if this.isannoymous}}
          <form class="comment-container" method="POST" action="/staffsubmission/idea/{{this.ididea}}/view/{{this._id}}?_method=DELETE" autocomplete="off">
            <li>
              <strong class="author-cmt">Anonymous:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <span class="time-detail"><i class="bi bi-incognito"></i> • {{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span>
            </li>
          <button class="delete-comment" type="submit"><i class="bi bi-trash-fill"></i></button>
          </form>
        {{else}}
          <form class="comment-container" method="POST" action="/staffsubmission/idea/{{this.ididea}}/view/{{this._id}}?_method=DELETE" autocomplete="off">
            <li>
              <strong class="author-cmt">{{this.fullname}}:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <span class="time-detail"><i class="bi bi-globe"></i> • {{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span>
            </li>
            <button class="delete-comment" type="button"><i class="bi bi-trash-fill"></i></button>
          </form>
        {{/if}}
        {{/each}}
        </ul>
    </div>
    </div>
    <div class="remove-detail">
        <a class="back-detail" href="/staffsubmission/{{idea._id}}">Back</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  var deadline1 = moment(document.getElementById('days-remaining').getAttribute('data-deadlinef'), 'YYYY-MM-DD HH:mm:ss');
var deadline2 = moment(document.getElementById('days-remaining').getAttribute('data-deadlines'), 'YYYY-MM-DD HH:mm:ss');
var daysRemaining = deadline2.diff(deadline1, 'days');

if(daysRemaining > 0){
  document.getElementById('days-remaining').innerHTML = 'Days Remaining: ' + daysRemaining + ' days';
}
else{
  var duration = moment.duration(deadline2.diff(deadline1));
  var hoursRemaining = duration.hours();
  var minutesRemaining = duration.minutes();
  if(hoursRemaining > 0){
    if(hoursRemaining < 10) {
      hoursRemaining = hoursRemaining.toString().padStart(2, '0');
    }
    document.getElementById('days-remaining').innerHTML = 'Time Remaining: ' + hoursRemaining + ' Hours';
  }
  else{
    document.getElementById('days-remaining').innerHTML = 'Time Remaining: ' + minutesRemaining + ' minutes';
  }
}

var commentForm = document.getElementById('form'); 
var commentContent = document.getElementById('content');
commentContent.addEventListener('keypress', function (e) {
  if (e.key === 'Enter') {
    e.preventDefault(); 
    commentForm.submit();
  }
});

  var deleteCMT = document.querySelectorAll('.delete-comment');
var formDeleteCMT = document.querySelectorAll('.comment-container');

for(let i = 0; i < formDeleteCMT.length; i++ ){
  deleteCMT[i].addEventListener('click', function(event) {
    event.preventDefault();
    if (confirm('Do you want to delete this comment?')) {
      formDeleteCMT[i].submit();
    } else {
      return false;
    }
  });
}

</script>
