<div class="main-detail">
    <h1 class="detail-text">Details</h1>    
    <div class="detail-show">
        <div>Title: <td>{{idea.title}}</td> </div>
        <div>Brief: <td>{{idea.brief}}</td> </div>
        <div>Content:  <td>{{idea.content}}</td></div> 
        <div>file:  <td>{{idea.file}}</td></div> 
        <div>View:  <td>{{idea.view}}</td></div> 
        <div>Submission: <td>{{idea.submission}}</td></div> 
        <div>Category: <td>{{idea.category}}</td></div> 
    </div>
    <div class="detail-application">
        <form class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment" >
            <div class="comment_btn">
            <label for="content">Comment</label>
            <br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
            <br><br>
            <button class="sub_btn" type="submit">Comment</button>
        </form>
        <ul>            
        {{#each idea.comment}}
            <li>{{this.username}}: {{this.contentCM}}</li>
        {{/each}}
        </ul>
    </div>
</div>

        


