<div class="main-detail">
    <h1 class="detail-text">Details</h1>    
    <div class="detail-show">
        <div>Title: {{idea.title}} </div>
        <div>Brief: {{idea.brief}} </div>
        <div>Content:  {{idea.content}}</div> 
        <div>file:  <a href="/{{idea.submission}}/{{idea.file}}">{{idea.file}}</a></div> 
        <div>View:  {{idea.view}}</div> 
        <div>Submission: {{idea.submission}}</div> 
        <div>Category: {{idea.category}}</div> 
        <div>Deadline 1: {{moment submission.deadline_1 format ="DD MMM YYYY HH:mm:ss"}}</div>
        <div class="time-deadline2">Deadline 2: {{moment submission.deadline_2 format ="DD MMM YYYY HH:mm:ss"}} </div>
    </div>
    <div class="detail-application">
        <form class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment" >
            <div class="comment_btn">
            <label for="content">Comment</label>
            <br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
            <div class="check-annoymous">
                <input type="checkbox" name="annoymous" value="true" id="annoymous">
                <label for="annoymous">Comment With Annoymous</label>
            </div>
            <br>
            <button class="sub_btn" type="submit">Comment</button>
            {{!-- <div class="check-annoymous">
                <input type="checkbox" name="annoymous" value="true" id="annoymous">
                <label for="annoymous">Comment With Annoymous</label>
            </div> --}}
            
        </form>
        <ul>            
        {{#each idea.comment}}
        {{#if this.isannoymous}}
          <div class="comment-container">
            <li><strong class="author-cmt">Annoymous:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <br> <span class="time-detail">{{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span></li>
          </div>
        {{else}}
          <div class="comment-container">
            <li><strong class="author-cmt">{{this.username}}:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <span class="time-detail">{{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span></li>
          </div>
        {{/if}}
        {{/each}}
        </ul>
    </div>
    <div class="remove-detail">
        <a class="back-detail" href="/staffsubmission/{{this._id}}">Back</a>
    </div>
</div>