<div class="main-detail">
    <h1 class="detail-text">Details</h1>    
    <div class="detail-show">
        <div>Title: <td>{{idea.title}}</td> </div>
        <div>Brief: <td>{{idea.brief}}</td> </div>
        <div>Content:  <td>{{idea.content}}</td></div> 
        <div>file:  <td><a href="/{{idea.file}}">{{idea.file}}</a></td></div> 
        <div>View:  <td>{{idea.view}}</td></div> 
        <div>Submission: <td>{{idea.submission}}</td></div> 
        <div>Category: <td>{{idea.category}}</td></div> 
        <div>Deadline 1: {{moment submission.deadline_1 format ="DD MMM YYYY HH:mm:ss"}}</div>
        <div class="time-deadline2">Deadline 2: {{moment submission.deadline_2 format ="DD MMM YYYY HH:mm:ss"}} </div>
    </div>
    <div class="detail-application">
        <form class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment" >
            <div class="comment_btn">
            <label for="content">Comment</label>
            <br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
            <br>
            <button class="sub_btn" type="submit">Comment</button>
            <div class="check-annoymous">
                <input type="checkbox" name="annoymous" value="true" id="annoymous">
                <label for="annoymous">Comment With Annoymous</label>
            </div>
            
        </form>
        <ul>            
        {{#each idea.comment}}
        {{#if this.isannoymous}}
            <li><span class="author-cmt">Annoymous:</span> {{this.contentCM}}</li>
        {{else}}
            <li><span class="author-cmt">{{this.username}}</span> {{this.contentCM}}</li>
        {{/if}}
        {{/each}}
        </ul>
    </div>
</div>