<div class="main-detail">
    <h1 class="detail-text">Details</h1>    
    <div class="detail-show">
      <div class="detail-show-all">
        <div class="detail-show-primary">
          <div class="fullname-detail">{{idea.fullname}}</div>
          <div class="left-detail-primary">
            <div id="days-remaining"></div>
            <div class="view-detail">{{idea.view}} <i class="bi bi-eye"></i></div> 
          </div>
        </div>
          <div class="secondary-detail">
            <div class="role-detail">{{idea.department}}</div>
            <div class="center-secondary-detail">-</div>
            <div class="time-post-detail">{{moment idea.createdAt format ="DD MMMM YYYY (HH:mm)" }}</div>
          </div>
          <div class="submission-detail-info">
            <div class="submission-detail">Submission: {{idea.submission}}</div> 
          </div>
          <div class="category-detail-info">
            <div class="category-detail">Category: {{idea.category}}</div> 
          </div>
          <div>Title: {{idea.title}} </div>
          <div>Brief: {{idea.brief}} </div>
          <div>Content:  {{idea.content}}</div> 
          <div>file:  <a href="/{{idea.submission}}/{{idea.file}}">{{idea.file}}</a></div> 
          <div class="time-deadline1">Deadline 1: {{moment submission.deadline_1 format ="DD MMM YYYY HH:mm:ss"}}</div>
          <div class="time-deadline2">Deadline 2: {{moment submission.deadline_2 format ="DD MMM YYYY HH:mm:ss"}} </div>
        </div>
         <div class="detail-application">
        <form class="detail_btn" method="POST" action="/staffsubmission/idea/{{idea._id}}/comment">
  <div class="comment_btn">
    <label for="content">Comment</label>
    <br>
    <textarea id="content" name="content" rows="4" cols="50" required></textarea>
    <button class="sub_btn" type="submit"><i alt="Comment" class="bi bi-send"></i></button>
  </div>
  <div class="check-annoymous">
    <input type="checkbox" name="annoymous" value="true" id="annoymous">
    <label for="annoymous">Comment With Anonymous</label>
  </div>
</form>
        <ul>            
        {{#each idea.comment}}
        {{#if this.isannoymous}}
         <form class="comment-container">
            <li>
              <strong class="author-cmt">Anonymous:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <br> <span class="time-detail">{{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span>
            </li>
          <button class="delete-comment" type="submit"><i class="bi bi-trash-fill"></i></button>
          </form>
        {{else}}
        <div class="main__info-comment">
          <form class="comment-container">
            <li><strong class="author-cmt">{{this.username}}:</strong> <span class="comment-content">{{this.contentCM}}</span> <br> <span class="time-detail">{{moment this.createdAt format ="DD MMMM YYYY (HH:mm)" }}</span></li>
          <button class="delete-comment" type="submit"><i class="bi bi-trash-fill"></i></button>
          </form>
        </div>
        {{/if}}
        {{/each}}
        </ul>
    </div>
    </div>
    <div class="remove-detail">
        <a class="back-detail" href="/staffsubmission/{{this._id}}">Back</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  var deadline1 = moment(document.querySelector(".time-deadline1").textContent, "DD MMM YYYY HH:mm:ss");
  var deadline2 = moment(document.querySelector(".time-deadline2").textContent, "DD MMM YYYY HH:mm:ss");
  var daysRemaining = deadline2.diff(deadline1, 'days');
  document.getElementById('days-remaining').innerHTML = 'Days Remaining: ' + daysRemaining +' days';
 
</script>
