<div class="edit__user">
  <div class="header-user">
    <h1>edit information</h1>
  </div>
  <form method="post" action="/user/{{account._id}}?_method=PUT" enctype="multipart/form-data" class="edit__card">
    <h3 class="title-create__user">Edit User</h3>
    <div class="full__type change-avatar">
      <label class="parent-change" for="changeavatar"><img class="avatar_user-show" src="{{getAvataraccount account}}" alt=""></label>
      <input type="file" id="changeavatar" name="avatar" accept="image/*" hidden>
      <label class="child-change" for="changeavatar">change</label>
      <label class="user__change-avatar" for="changeavatar">Change Avatar User</label>
    </div>
    <div class="full__type">
      <label for="inputFullname">Full name</label>
      <input name="fullname" type="text" value="{{account.fullname}}" class="type_fullName" id="inputFullname" />
    </div>
    <div class="full__type">
      <label for="inputEmail4">Email</label>
      <input name="adremail" type="email" value="{{account.adremail}}" class="type_email" id="inputEmail4" />
    </div>
    <div class="full__type">
      <label for="inputName">User name</label>
      <input name="username" type="text" value="{{account.username}}" class="type_name" id="inputName" pattern=".+@vigga.com" required/>
    </div>
    <div class="full__type">
      <label for="inputPassword4">Password</label>
      <input name="password" type="password"  class="type_password" id="inputPassword4" />
    </div>
    <div class="full__type">
      <label for="inputState">Role</label>
      <select name="role" value="{{account.role}}" id="inputState" class="type__select">
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="user">Staff</option>
        <option value="coordinator">Coordinator</option>
      </select>
      </div>
      <div class="full__type">
      <label for="department">Department</label>
      <select name="department" id="department" class="type__select">
        {{#each data}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="edit__checkbox">
      <input type="checkbox" id="checkbox" name="edit__checkbox" oninvalid="this.setCustomValidity('Are you sure with your changes? , please double check again and tick here')" oninput="setCustomValidity('')" required>
      <label for="checkbox">I agree to my changes</label>
    </div>
    <div class="full__type btn-user">
    <button id="btn-user" type="submit" class="button__user">Save Changes</button>
    <a class="back-user" href="/user">Back</a>
    </div>
  </form>
</div>
<script>
   const fileInput = document.querySelector('#changeavatar');
const img = document.querySelector('.avatar_user-show');
let currentImage = img.src;
fileInput.addEventListener('change', function() {
  const file = fileInput.files[0];
  const imageType = /^image\//;

  if (imageType.test(file.type)) {
    const reader = new FileReader();
    reader.addEventListener('load', () => {
      img.setAttribute('src', reader.result);
    });
    reader.readAsDataURL(file);
  } else {
    alert('File is not an image!');
    fileInput.value = '';
    img.setAttribute('src', currentImage);
  }
});
  const hover = document.querySelector('.parent-change');
  const showChange = document.querySelector('.child-change');
  hover.addEventListener('mouseover',() =>{
    showChange.style.cssText = 'display: flex;';
  });
  showChange.addEventListener('mouseout', ()=>{
    showChange.style.cssText = 'display: none';
  });
</script>