<div class="main-staffsubmission">
  <h1 class="staffsubmission-text">List of Ideas</h1>

  <table class="table-staffsubmission">
    <thead>
      <tr>
        <th>Name Submission</th>
        <th>Dealine 1</th>
        <th>Dealine 2</th>
      </tr>
    </thead>
    <tbody id="staffsubmission-list">
      <tr>
        <td>{{submission.name}}</td>
        <td>{{submission.deadline_1}}</td>
        <td>{{submission.deadline_2}}</td>
      </tr>
    </tbody>
  </table>
  <div class="staffsubmission-application">
    <a class="idea_btn" href="/staffsubmission/idea/createIdea?idSub={{idSubS}}">Add idea</a>
    <table class="table-staffsubmission">
      <thead>
        <tr>
          <th>Title</th>
          <th>Brief</th>
          <th>Views</th>
          <th>like</th>
          <th>dislike</th>
          <th class="action-list">Actions</th>
        </tr>
      </thead>
      <tbody id="staffsubmission-list">
        {{#each data}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.brief}}</td>
          <td>{{this.view}}</td>

          
            <td>
              <form method="POST" action="/staffsubmission/{{this._id}}/like">
              <span>{{this.like}}</span>
              <button  type="submit">Like</button>
              </form>
            </td>
          

          <td>
            <form method="POST" action="/staffsubmission/{{this._id}}/dislike">
            <span>{{this.dislike}}</span>
            <button type="submit" >Dislike</button>
            </form>
          </td>
          <td class="action-item">
            <form method="POST" action="/staffsubmission/idea/{{this._id}}/view">
            <button href="/staffsubmission/idea/{{this._id}}" type="submit" class="">Details</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    </from>
  </div>
</div>