<div class="main-idea">
  <h1 class="idea-text">List of Ideas</h1>

  <table class="table-idea">
    <thead>
      <tr>
        <th>Name Submission</th>
        <th>Dealine 1</th>
        <th>Dealine 2</th>
      </tr>
    </thead>
    <tbody id="idea-list">
      <tr>
        <td>{{submission.name}}</td>
        <td>{{moment this.deadline_1 format ="DD MMM YYYY HH:mm:ss" }}</td>
        <td>{{moment this.deadline_2 format ="DD MMM YYYY HH:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>
  <div class="idea-application">
    <a class="idea_btn" href="/staffsubmission/idea/createIdea?idSub={{idSubS}}">Add idea</a>
    <table class="table-idea">
      <thead>
        <tr>
          <th>Title</th>
          <th>Brief</th>
          <th>Views</th>
          <th >like</th>
          <th >dislike</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="idea-list">
        {{#each data}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.brief}}</td>
          <td>{{this.view}}</td>

          
            <td>
              <form method="POST" action="/staffsubmission/{{this._id}}/like">
              <span>{{this.like}}</span>
              <button class="like_btn" type="submit">Like</button>
              </form>
            </td>
          

          <td>
            <form method="POST" action="/staffsubmission/{{this._id}}/dislike">
            <span>{{this.dislike}}</span>
            <button class="dislike_btn" type="submit" >Dislike</button>
            </form>
          </td>
          <td class="idea-action__item">
            <form method="POST" action="/staffsubmission/idea/{{this._id}}/view">
            <button href="/staffsubmission/idea/{{this._id}}" type="submit" class="detail-link">Details</button>
            </form>
          </td>
          
        </tr>
        {{/each}}
      </tbody>
    </table>
    </from>
  </div>
</div>

<script>
let likeStatus = ""; // Khởi tạo biến lưu trữ trạng thái của nút "like/dislike"

let numLikes = 0; // Khởi tạo số lượt thích
let numDislikes = 0; // Khởi tạo số lượt không thích

function like() {
  if (likeStatus === "like") { // Nếu người dùng muốn bỏ lượt thích
    numLikes--;
    likeStatus = "";
  } else { // Nếu người dùng chọn lượt thích
    numLikes++;
    likeStatus = "like";
  }
}

function dislike() {
  if (likeStatus === "like") { // Nếu người dùng muốn đổi từ lượt thích sang lượt không thích
    numLikes--;
    numDislikes++;
    likeStatus = "dislike";
  } else if (likeStatus === "dislike") { // Nếu người dùng muốn bỏ lượt không thích
    numDislikes--;
    likeStatus = "";
  } else { // Nếu người dùng chọn lượt không thích
    numDislikes++;
    likeStatus = "dislike";
  }
}

</script>