<div class="main-staffsubmission">
    <h1 class="staffsubmission-text">Staffsubmission</h1>
    <div class="staffsubmission-application">

        <table class="table-staffsubmission">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Deadline_1</th>
                    <th>Deadline_2</th>
                    <th class="action-list">Actions</th>

                </tr>
            </thead>
            <tbody id="staffsubmission-list">
                {{#each submission}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{moment this.deadline_1 format ="DD MMM YYYY HH:mm:ss a" }}</td>
                    <td>{{moment this.deadline_2 format ="DD MMM YYYY HH:mm:ss a" }}</td>
                    <td class="action-item">                         
                            <a href="/staffsubmission/{{this._id}}" class="staffsubmission-btn__view" >View</a>
                            <a href="/staffsubmission/{{this._id}}/exportZip.zip" class="staffsubmission-btn__download-zip" download>File.Zip</a>
                            <a href="/staffsubmission/{{this._id}}/exportIdea" class="staffsubmission-btn__download-excel" download>File.Excel</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>