<div class="main-staffsubmission">
  <div class="background-mainstaffsubmission">
    <h1 class="staffsubmission-text">Staffsubmission</h1>
  </div>
    <div class="staffsubmission-application" >
      {{#ifeq user 'admin'}}
        <table class="table-staffsubmission__primary">
            <thead>
                <tr class="submission-show_list">
                    <th class="name-title">Name</th>
                    <th class="time-deadline1-title">Deadline_1 <i class="bi bi-alarm-fill"></i></th>
                    <th class="time-deadline2-title">Deadline_2 <i class="bi bi-alarm-fill"></i></th>
                    <th class="status-title">Status <i class="bi bi-flag-fill"></i></th>
                    <th class="action-list">Actions <i class="bi bi-cloud-arrow-down-fill"></i></th>
                </tr>
            </thead>
        </table>
        {{else ifeq user 'manager'}}
        <table class="table-staffsubmission__primary">
            <thead>
                <tr class="submission-show_list">
                    <th class="name-title">Name</th>
                    <th class="time-deadline1-title">Deadline_1 <i class="bi bi-alarm-fill"></i></th>
                    <th class="time-deadline2-title">Deadline_2 <i class="bi bi-alarm-fill"></i></th>
                    <th class="status-title">Status <i class="bi bi-flag-fill"></i></th>
                    <th class="action-list">Actions <i class="bi bi-cloud-arrow-down-fill"></i></th>
                </tr>
            </thead>
        </table>
        {{else}}
        <table class="table-staffsubmission__primary">
            <thead>
                <tr class="submission-show_list submission-show_list-user">
                    <th class="name-title name-title_user">Name</th>
                    <th class="time-deadline1-title">Deadline_1 <i class="bi bi-alarm-fill"></i></th>
                    <th class="time-deadline2-title">Deadline_2 <i class="bi bi-alarm-fill"></i></th>
                    <th class="status-title">Status <i class="bi bi-flag-fill"></i></th>
                    <th class="action-list action-title_user">Actions <i class="bi bi-cloud-arrow-down-fill"></i></th>
                </tr>
            </thead>
        </table>
        {{/ifeq}}
              {{#ifeq user 'admin'}}
                {{#each submission}}
                <div class="table-wrapper">
                <div class="show-submission__list">
                    <span class="name-submission">{{this.name}}</span>
                    <span class="time-deadline1">{{moment this.deadline_1 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span class="time-deadline2">{{moment this.deadline_2 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span class="status-deadline">Ongoing <i class="bi bi-flag-fill"></i></span>
                    <div class="action-item">                         
                            <a href="/staffsubmission/{{this._id}}" class="staffsubmission-btn__view" >View</a>
                            <a href="/staffsubmission/{{this._id}}/exportZip.zip" class="staffsubmission-btn__download-zip" download>Export Zip</a>
                            <a href="/staffsubmission/{{this._id}}/exportIdea" class="staffsubmission-btn__download-excel" download>Export Excel</a>
                    </div>
                </div>
                <span class="department-submission">{{this.department}}</span>
                </div>
                {{/each}}
                {{else ifeq user 'manager'}}
                {{#each submission}}
                <div class="table-wrapper">
                <div class="show-submission__list">
                    <span class="name-submission">{{this.name}}</span>
                    <span class="time-deadline1">{{moment this.deadline_1 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span class="time-deadline2">{{moment this.deadline_2 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span class="status-deadline">Ongoing <i class="bi bi-flag-fill"></i></span>
                    <div class="action-item">                         
                            <a href="/staffsubmission/{{this._id}}" class="staffsubmission-btn__view" >View</a>
                            <a href="/staffsubmission/{{this._id}}/exportZip.zip" class="staffsubmission-btn__download-zip" download>Export Zip</a>
                            <a href="/staffsubmission/{{this._id}}/exportIdea" class="staffsubmission-btn__download-excel" download>Export Excel</a>
                    </div>
                </div>
                <span class="department-submission">{{this.department}}</span>
                </div>
                {{/each}}
                {{else}}
                {{#each submission}}
                <div class="table-wrapper">
                <div class="show-submission__list">
                    <span class="name-submission name-submission_user">{{this.name}}</span>
                    <span id="time-deadline1_user" class="time-deadline1">{{moment this.deadline_1 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span id="time-deadline2_user" class="time-deadline2">{{moment this.deadline_2 format ="DD MMM YYYY HH:mm:ss" }}</span>
                    <span class="status-deadline">Ongoing <i class="bi bi-flag-fill"></i></span>
                    <div class="action-item action-item_user">                         
                            <a href="/staffsubmission/{{this._id}}" class="staffsubmission-btn__view-user" >View</a>
                    </div>
                </div>
                <span class="department-submission">{{this.department}}</span>
                </div>
                {{/each}}
                {{/ifeq}}
        <ul class="listpage">
    </ul>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
var checkDeadline1 = document.querySelectorAll('.time-deadline1');
var checkDeadline2 = document.querySelectorAll('.time-deadline2');
var addStatus = document.querySelectorAll('.status-deadline');
var currentDate = moment();
for (var i = 0; i < checkDeadline1.length; i++) {
  var deadline1 = moment(checkDeadline1[i].textContent, "DD MMM YYYY HH:mm:ss");
  if (deadline1.isBefore(currentDate)) {
    addStatus[i].innerHTML = 'Deadline 1 Passed <i class="bi bi-flag-fill"></i>'
    addStatus[i].classList.add('warning');
    const changeBorder = document.querySelectorAll('.show-submission__list')
    changeBorder[i].style.cssText = 'border-left: 4px solid #FCFC04;'
  }
}

for (var i = 0; i < checkDeadline2.length; i++) {
  var deadline2 = moment(checkDeadline2[i].textContent, "DD MMM YYYY HH:mm:ss");
  if (deadline2.isBefore(currentDate)) {
    addStatus[i].innerHTML = 'Ended <i class="bi bi-flag-fill"></i>'
    addStatus[i].classList.add('danger');
    const changeBorder = document.querySelectorAll('.show-submission__list')
    changeBorder[i].style.cssText = 'border-left: 4px solid #F80404;'
  }
}
 var thisPage = 1;
  var limit = 5;
  var list = document.querySelectorAll('.table-wrapper')
  function loadIteam() {
    var beginGet = limit * (thisPage - 1);
    var endGet = limit * thisPage - 1;
    list.forEach((item, key) => {
      if (key >= beginGet && key <= endGet) {
        item.style.display = 'flex';
      } else {
        item.style.display = 'none';
      }
    })
    listPage();
  }
  loadIteam()
  function listPage() {
    var count = Math.ceil(list.length / limit);
    document.querySelector('.listpage').innerHTML = '';
    for (i = 1; i <= count; i++) {
      var newPage = document.createElement('li');
      newPage.innerHTML = i;
      document.querySelector('.listpage').appendChild(newPage);
      newPage.setAttribute('onclick', "changePage(" + i + ")");
      if (i === thisPage) {
      newPage.classList.add('active');
    }
    }
  }
  function changePage(i) {
    thisPage = i;
    document.querySelectorAll('.listpage li').forEach(function(page) {
    page.classList.remove('active');
  });
  document.querySelector('.listpage li:nth-child(' + (thisPage) + ')').classList.add('active');
    loadIteam()
  }
</script>