<div class="add__user">
    <form method="post" action="/register/apiregister" class="create__card" >
     <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-white">Create Form</h3>
      <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input name="adremail" type="email" class="type_email" id="inputEmail4" placeholder="Email" >
     </div>
     <div class="form-group">
      <label for="inputPassword4">Password</label>
      <input name="password" type="password" class="type_password" id="inputPassword4" placeholder="Password" >
      </div>
      <div class="form-group">
      <label for="inputName">User name</label>
      <input name="username" type="text" class="type_name" id="inputName" placeholder="Hoang12345" >
     </div>
     <div class="form-group">
      <label for="inputFullname">Full name</label>
      <input name="fullname" type="text" class="type_fullName" id="inputFullname" placeholder="Le Thanh hoang">
     </div>
     <div class="form-group">
      <label for="inputState">Role</label>
      <select name="role" id="inputState" class="type__select">
        <option selected>Choose...</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
        <option value="coordinator">Coordinator</option>
        <option value="manager">Manager</option>
      </select>
      
      </div>
      <button id="btn-user" type="submit" class="button__user">Add</button>
     </form>  
        <div class="boxer-user">
          {{#each account}}
          <div class="card-user">
            <h1>{{this.fullname}}</h1>
              <h2>{{this.username}}</h2>
            <h2 class="title">{{this.role}}</h2>
            <p>{{this.email}}</p>
            <a href="/user/{{this._id}}/editUser" class="category-btn__edit">edit</a>
            <p><button>Remove</button></p>
          </div>  
          {{/each}}       
        </div>
        <ul class="listpage">
        </ul>
    </div>
    




<script>
  var thisPage = 1;
  var limit = 5;
  var list = document.querySelectorAll('.card-user')
  function loadIteam(){
    var beginGet = limit * (thisPage - 1);
    var endGet = limit * thisPage - 1 ; 
    list.forEach((item,key) => {
      if(key >= beginGet && key <= endGet){
        item.style.display = 'block';
      }else{
        item.style.display = 'none';
      }
    })
    listPage();
  }
   loadIteam() 
  function listPage(){
    var count = Math.ceil(list.length / limit);
    document.querySelector('.listpage').innerHTML = '';
    for(i = 1; i<= count; i++){
      var newPage = document.createElement('li');
      newPage.innerHTML = i;
      document.querySelector('.listpage').appendChild(newPage);
      newPage.setAttribute('onclick', "changePage("+ i +")");
    }
  }
  function changePage(i){
    thisPage = i;
    loadIteam()
  }
</script>